@tailwind base;
@tailwind components;
@tailwind utilities;

.pxl {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }